# Frontend (Vite)
VITE_SUPABASE_PROJECT_ID="brifgqkxbfrapjccqxvp"
VITE_SUPABASE_URL="https://brifgqkxbfrapjccqxvp.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_4c8K2dvh0_uDB9oNaEg9dQ_BttTMemF"

# Scripts/servidor (solo local)
SUPABASE_URL="https://brifgqkxbfrapjccqxvp.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_kQ8bk7R6rsYI-flDERLkMw_FwKiY-8Y"

#Mail
VITE_RESEND_API_KEY=re_E6z6PygB_JCTsvKXoySxhLtXwdct6Hac1

SENDGRID_API_KEY=
SENDGRID_FROM=